html
  head
    title= name

    meta(property='og:url' content=url)
    meta(property='og:image' content=image)
    meta(property='og:image:url' content=image)
    meta(property='og:site_name' content='Lobubo')
    meta(property="og:title"  content=name)
    meta(property='og:type' content='website')
    meta(property='og:description' content=description)

    //- for ios
    meta(property="al:ios:url" content=url)
    meta(property="al:ios:app_store_id" content="12345")
    meta(property="al:ios:app_name" content="lobubo")

    //- for andriod
    meta(property="al:android:url" content=url)
    meta(property="al:android:package" content="com.lobubo")
    meta(property="al:android:app_name" content="lobubo")